.container-fluid .container {
    height: 100vh;
    backdrop-filter: blur(3px) saturate(126%);
    -webkit-backdrop-filter: blur(3px) saturate(126%);
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.kota {
    font-size: 55px;
    color: rgb(241, 255, 81);
}
.suhu {
    font-size: 35px;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 40px;
}

.info-cuaca {
    font-size: 28px;
    text-align: center;
    color: black;
}
.container-fluid {
    background-image: url(poto.png);
    background-size: cover;
}

.hari span {
    color: blanchedalmond;

}